{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <nav class="navbar my-0 mr-md-auto font-weight-normal">
            <a class="navbar-brand" href="{{ path('movies')}}">MAYTE</a>
        </nav>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{{ path('movies')}}">Movies</a>
        </nav>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <img class="rounded-circle" src="/images/avatar.png" width="50px"/>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item disabled d-block bg-secondary text-white" href="#">{{ app.user.roles|first|replace({"ROLE_": ""}) }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('profile')}}">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}